%nav.navbar.navbar-inverse.navbar-fluid
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Minimis
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          = link_to "Entrez un nouveau siret", "/"

.container
  .page-header
    %h2 Information entreprise
  .panel.panel-success
    .panel.panel-heading
      %h2.panel-title
        = @entreprise.raison_social
    .panel.panel-body
      %dl.dl-horizontal
        %dt
          Siret :
        %dd
          = @entreprise.siret
        %dt Adresse :
        %dd
          = @entreprise.l1
          %br
          = @entreprise.l2
          %br
          = @entreprise.l3
        %dt Montant d'aide publique :
        %dd= number_to_currency(@total_aide_publique, locale: :fr, unit: '€', format: "%n %u")
        %dt 2013
        %dd
          = number_to_currency(@sub_year_1, locale: :fr, unit: '€', format: "%n %u")
        %dt 2012
        %dd
          = number_to_currency(@sub_year_2, locale: :fr, unit: '€', format: "%n %u")
        %dt 2011
        %dd
          = number_to_currency(@sub_year_3, locale: :fr, unit: '€', format: "%n %u")

  %h2
    Subventions réalisés (
    = @subventions_done.total_entries
    )
  = render partial: 'subventions', locals: { subventions: @subventions_done}
  = will_paginate @subventions_done, :param_name => 'done_page', renderer: BootstrapPagination::Rails


  %h2
    Subventions en cours (
    = @subventions_not_done.total_entries
    )
  = render partial: 'subventions', locals: { subventions: @subventions_not_done }
  = will_paginate @subventions_done, :param_name => 'not_done_page', renderer: BootstrapPagination::Rails

