.container
  .page-header
    %h1 Minimis
  .panel.panel-success
    .panel.panel-heading
      %h2.panel-title
        = @entreprise.raison_social
    .panel.panel-body
      %dl.dl-horizontal
        %dt
          Siret :
        %dd
          = @entreprise.siret
        %dt Adresse :
        %dd
          = @entreprise.l1
          %br
          = @entreprise.l2
          %br
          = @entreprise.l3
        %dt Montant d'aide publique :
        %dd= number_to_currency(@total_aide_publique, locale: :fr, unit: '€', format: "%n %u")


  %h2 Subventions réalisés
  %table.table.table-striped
    %thead
      %tr
        %th Dossier
        %th Fond
        %th Montant
    %tbody
    - @subventions_done.each do |subvention|
      %tr
        %td
          = subvention.LibDossier
        %td
          = subvention.LibelleFonds
        %td
          = subvention.montant_aide_publique
  %h2 Subventions en cours
  %table.table.table-striped
    %thead
      %tr
        %th Dossier
        %th Fond
        %th Montant
    %tbody
    - @subventions_not_done.each do |subvention|
      %tr
        %td
          = subvention.LibDossier
        %td
          = subvention.LibelleFonds
        %td
          = subvention.montant_aide_publique
